<app-layout>
  <div class="wrapper">
    <mat-card class="box">
      <mat-card-header>
        <mat-icon mat-card-avatar>nature</mat-icon>
        <mat-card-title>
          <h4>DOGPARKS</h4>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/dogs.jpg" alt="Dps">
      <mat-card-actions>
        <button mat-button routerLink="/dogparks">Find Dogparks</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar="">fiber_new</mat-icon>
        <mat-card-title>
          <h4>Find Friends</h4>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/elly-basket.jpeg" alt="dogs">
      <mat-card-actions>
        <button mat-button routerLink="/">goes nowhere</button>
      </mat-card-actions>
    </mat-card>
  </div>
</app-layout>
