<app-layout>
  <div class="wrapper">
    <mat-card class="box">
      <mat-card-header>
        <mat-icon mat-card-avatar>nature</mat-icon>
        <mat-card-title>
          <h4>DOGPARKS</h4>
        </mat-card-title>
      </mat-card-header>
      <!-- <img mat-card-image src="../../assets/clear_barkley2.jpg" alt="Dps"> -->
      <mat-card-actions>
        <button mat-button routerLink="/dogparks">Find Dogparks</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar="">fiber_new</mat-icon>
        <mat-card-title>
          <h4>Find Friends</h4>
        </mat-card-title>
      </mat-card-header>
      <!-- <img mat-card-image src="../../assets/upload.jpg" alt="Power"> -->
      <mat-card-actions>
        <button mat-button routerLink="/friends">View All Powers</button>
      </mat-card-actions>
    </mat-card>
  </div>
</app-layout>
